/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT    0
#define NUMSYMB    1
#define NAVIGATION  2
#define SHORTCUTS   3

/ {
    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <150>;
        };

        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&ht ESCAPE BACKSLASH>, <&kp TAB>;
        };

        td3: td3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD3";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 3>;
        };

        ht_layer: ht_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        combo1 {
            bindings = <&kp UP>;
            key-positions = <8 9>;
        };

        combo2 {
            bindings = <&kp DOWN>;
            key-positions = <20 21>;
        };

        combo3 {
            bindings = <&caps_word>;
            key-positions = <13 14>;
        };

        combo4 {
            bindings = <&kp LEFT>;
            key-positions = <7 8>;
        };

        combo5 {
            bindings = <&kp RIGHT>;
            key-positions = <9 10>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            label = "0";
            bindings = <
&td0       &kp Q  &kp W  &kp E         &kp R         &kp T              &kp Y      &kp U     &kp I          &kp O    &kp P          &ht_layer 2 BACKSPACE
&kp LSHFT  &kp A  &kp S  &kp D         &kp F         &kp G              &kp H      &kp J     &kp K          &kp L    &kp SEMICOLON  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C         &kp V         &kp B              &kp N      &kp M     &kp COMMA      &kp DOT  &kp FSLH       &td3
                         &kp LEFT_ALT  &kp LEFT_GUI  &ht LSHFT SPACE    &kp ENTER  &kp RALT  &kp RIGHT_WIN
            >;
        };

        layer1 {
            label = "1";
            bindings = <
&kp BACKSLASH  &kp N1  &kp N2  &kp N3        &kp N4        &kp N5             &kp N6   &kp N7         &kp N8         &kp N9            &kp N0             &kp BSPC
&kp LSHFT      &kp A   &none   &none         &none         &none              &none    &none          &none          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PIPE
&kp LCTRL      &none   &none   &none         &none         &none              &none    &none          &kp COMMA      &kp PERIOD        &kp MINUS          &kp EQUAL
                               &kp LEFT_ALT  &kp LEFT_GUI  &ht LSHFT SPACE    &kp RET  &kp RIGHT_ALT  &kp RIGHT_GUI
            >;
        };

        layer2 {
            label = "2";
            bindings = <
&kp TAB    &kp EXCLAMATION  &kp AT_SIGN  &kp HASH      &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BSPC
&kp LCTRL  &none            &none        &none         &none       &none          &kp MINUS  &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp BACKSLASH          &kp GRAVE
&kp LSHFT  &none            &none        &none         &none       &none          &kp UNDER  &kp PLUS       &kp LBRC          &kp RBRC              &kp PIPE               &kp TILDE
                                         &kp LEFT_GUI  &kp LSHFT   &kp SPACE      &kp RET    &trans         &kp RIGHT_GUI
            >;
        };

        layer3 {
            label = "3";
            bindings = <
&sys_reset  &none         &none         &none         &none         &none             &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none     &none     &none
&kp LSHFT   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none     &kp UP    &none
&kp LCTRL   &bt BT_CLR    &none         &none         &none         &bt BT_CLR_ALL    &kp KP_N1        &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp LEFT  &kp DOWN  &kp RIGHT
                                        &kp LEFT_ALT  &kp LEFT_GUI  &td3              &kp N0           &kp N0           &kp KP_DOT
            >;
        };
    };
};
