if SHIELD_CIRQUE40

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "cirque40"

# Cirque Glidepoint trackpad
config ZMK_POINTING
    default y

# Assuming pointing device uses SPI
config SPI
    default y
endif
